body {
    background-image: url(images/unturned_face.png)
}

h1{
    color: yellow;
}
p{
    color: yellow;
}
p2{
    color: yellow;
}
p3{
    color: yellow;
}

p6{
    color: yellow;
}
p7{
     color: yellow;    
    
}
p4{
    
    color: yellow;
}    
<metal name-"viewport" content-"width-device-width, initial-scale-1.0">
